*{
font-family: 'Poppins', sans-serif;
}
/* body{
    margin-top: -10vh;

} */
.nav{
    background-color: rgb(236, 220, 220);    
    height: 10vh;
    padding: 1.5rem 0rem;
    font-size: larger;
}
/* .sticky{
    position: sticky;
    top:0;
} */
.nav ul li a{
    color: white;
}
.landing{
    background-image: url(../images/landing.jpg);
    height: 90vh;
}
.innerContent{
    text-align: center;
    padding-top: 12rem;
    color: white;
}
.logo{
    padding-bottom: 2rem;
}
.innerContent h1{
    margin: 2rem 0rem;
}
.mouse{
    padding-top: 3rem;
}

/* About section */
.about{
    margin: 3rem auto 1rem auto;
    text-align: center;
    height: 35vh;
}
.about p{
    margin-top: 0.4rem;
}

/* Services section */
.services{
    background-image: url(../images/services.jpg);
    height: 60vh;
}
.serv{
    text-align: center;
    color: white;
    padding-top: 10rem;
}
.serv p{
    margin-top: 0.4rem;
    font-size: large;
}

/* What we do section */
.we-do{
    height: 60vh;
    text-align: center;
    padding: 3rem 0rem;
    overflow: hidden;
}
.click1, .click2, .click3, .hidden1-h3, .hidden2-h3, .hidden3-h3{
    cursor: pointer;
    }
    
.hidden{
    text-decoration: underline;
}
.tasks{
    padding: 3rem 0rem;
}
.tasks p{
    margin: 2.5rem auto 0.5rem;
}
.hidden1, .hidden2, .hidden3{
    display: none;
    text-align: center;
}

/* Portfolio section */
.portfolio{
    width: 100%;
    text-align: center;
    margin: 3rem auto 1rem;
}
.port{
    margin: 4rem;
}

/* Portfolio Overlay Styling */
.image{
    position: relative;
    /* margin: 0.5em; */
}
.image img{
    display: block;
    width: 100%;
}
.image-overlay{
    position: absolute;
    /* margin: 0.5em 0em 0.5em; */
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.25s;
}
.image-overlay--blur{
    backdrop-filter: blur(5px);
}
.image-overlay--primary{
    background: #957a00;
}
.image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.image-overlay:hover {
    opacity: 1;
}

.image-overlay:hover > * {
    transform: translateY(0);
}
.image h4{
    padding: 2em 0em 0.2em;
}
/* Contact us section */
.contact{
    background-image: url(../images/contact.jpg);
    background-size: cover;
    height: 80vh;
    text-align: center;
}
.contact h2{
    padding: 3rem 0rem 1rem;
    color: white;
}
.info input{
    width: 35%;
}
textarea{
    width: 50%;
    padding-bottom: 1rem;
}
textarea::-webkit-input-placeholder {
    color: white;
}
input::-webkit-input-placeholder {
    color: white;
}
.info input, textarea{
    margin: 2rem auto;
    color: white;
    border: solid white thin;
    background: none;
}

/* footer section */
.social{
    justify-content: space-around;
    width: 50%;
    margin: 2rem auto;
}
.copy{
    text-align: center;
    height: 7vh;
}



















/* }
.sticky{
    position: fixed;
    top: 0;
    /* padding-top: 70px; */

    /* 
    height: 5rem;
    background: rgb(223, 207, 207 0.4);
    margin: 0.2rem 0.1rem; */
/* }
.landing{
    background-image: url(../images/);
} */
/* .main-body{
    padding-top: 70px;
} */
/* .section{
    margin-top: 100px;
}
html{
    scroll-behavior: smooth;
} */