*{
font-family: 'Poppins', sans-serif;
}
/* body{
    margin-top: -10vh;

} */
.nav{
    background-color: rgb(236, 220, 220);    
    height: 10vh;
    padding: 1.5rem 0rem;
    font-size: larger;
}
.sticky{
    position: sticky;
    top:0;
}
.nav ul li a{
    color: white;
}
.landing{
    background-image: url(../images/landing.jpg);
    height: 90vh;
}
.innerContent{
    text-align: center;
    padding-top: 12rem;
    color: white;
}
.logo{
    padding-bottom: 2rem;
}
.innerContent h1{
    margin: 2rem 0rem;
}
.mouse{
    padding-top: 5rem;
}

/* About section */
.about{
    margin: 3rem auto 1rem auto;
    text-align: center;
    height: 35vh;
}
.about p{
    margin-top: 0.4rem;
}
.services{
    background-image: url(../images/services.jpg);
    height: 60vh;
}
.serv{
    text-align: center;
    color: white;
    padding-top: 10rem;
}
.serv p{
    margin-top: 0.4rem;
    font-size: large;
}






















/* }
.sticky{
    position: fixed;
    top: 0;
    /* padding-top: 70px; */

    /* 
    height: 5rem;
    background: rgb(223, 207, 207 0.4);
    margin: 0.2rem 0.1rem; */
/* }
.landing{
    background-image: url(../images/);
} */
/* .main-body{
    padding-top: 70px;
} */
/* .section{
    margin-top: 100px;
}
html{
    scroll-behavior: smooth;
} */